[submodule "part3"]
	path = part3
	url = https://github.com/ostapvladyslav/part3
[submodule "part4"]
	path = part4
	url = https://github.com/ostapvladyslav/part4
[submodule "part5"]
	path = part5
	url = https://github.com/ostapvladyslav/part5
